<div class="center hero-unit">
<h1>Welcome to Renga World</h1>
<h2>
<a href="http://ja.wikipedia.org/wiki/%E9%80%A3%E6%AD%8C" target="_blank">連歌</a>
とは、鎌倉時代に誕生した、日本の伝統的なtwitterです。<br>
ある人がtweetした575に対して、77の形でReplyする遊びです。
</h2>
<%= link_to "ユーザー登録", '#', class: "btn btn-large btn primary" %>
</div>
