<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <% # pluralize は英語を複数形にしてくれる関数 %>
      The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
