@import "bootstrap";
/* 変数も定義できる
   $lightGray: #999;
   color: $lightGray;
   のように */

/* 以下で必要になるボックスサイジングのミックスイン */
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ページ全体について */
html{
  overflow-y: scroll;
}

body{
  padding-top: 60px;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
  h1 {
    marigin-bottom: 10px;
  }
}

/* ロゴ */
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  
  /* hober はマウスが上に乗った時のもの */
  &:hover{
    color: #ccc;
    text-decoration: none;
  }
}

/* 本体 */
h1, h2, h3, h4, h5, h6{
  line-heilight: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  color: #999;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* フッター */

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a{
    color: #555;
    &:hover{
      color:#222;
    }
  }

  small{
    float: left;
  }

  ul{
    float: right;
    list-style: none;
    li{

      float: left;
      margin-left: 10px;
    }
  }
}

/* ユーザーページのサイドバー */

aside{
  section{
    padding: 10px 0;
    border-top: 1px solid #999;

    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    h2{
      font-size: 1.0em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

/* フォーム */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

/* error message */
#error_explanation{
  color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors{
  @extend .control-group;
  @extend .error;
}

/* users index */
.users{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #999;
    &:last-child{
      border-bottom: 1px solid #999;
    }
  }
}

/* デバッグの整形 */
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

